body {
  margin: 0;
  padding: 0;
  background-color: #1b191d;
}

.logo {
  position: relative;
  width: 350px;
  height: 35px;
  background-size: 340px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('../images/logo.png');
  padding: 10px 5px;
}

.logo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #ffff00;
  border-radius: 8px;
  transform: skewX(-20deg);
}

.author {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}